extends layout
block style
  link(rel='stylesheet', href='assets/css/shop.style.css')
  link(rel='stylesheet', href='./style/product.css')
block content
  // === Shop Product ===
  .shop-product
    // Breadcrumbs v5
    .container
      ul.breadcrumb-v5
        li
          a(href='product.html') 產品介紹
        li.active 9939霧面戰車系列
    // End Breadcrumbs v5
    .container
      .row
        .col-md-6
          .case-product
            .image(name='9939', value='1')
            .product-color-text.product-text 霧玫粉
        .col-md-6
          .shop-product-heading
            h2 9939霧面戰車系列
          br
          h3.shop-product-title 顏色
            span.product-color-text 霧玫粉
          ul#color9939.list-inline.product-color.margin-bottom-30
            li(title='霧玫粉')
              input#color-1(type='radio', name='color', value='1', checked='')
              label(for='color-1')
            li(title='霧光黑')
              input#color-2(type='radio', name='color', value='2')
              label(for='color-2')
            li(title='霧銀灰')
              input#color-3(type='radio', name='color', value='3')
              label(for='color-3')
            li(title='霧勁藍')
              input#color-4(type='radio', name='color', value='4')
              label(for='color-4')
            li(title='霧酷橘')
              input#color-5(type='radio', name='color', value='5')
              label(for='color-5')
          h3.shop-product-title 尺寸
          ul.list-inline.product-size.margin-bottom-30
            li(title='27吋')
              label(for='size-2') 27吋
            li(title='29吋')
              label(for='size-3') 29吋
  // === End Shop Product ===

  .content-md.container
    .tab-v6
      ul.nav.nav-tabs(role='tablist')
        li.active
          a(href='#specifications', role='tab', data-toggle='tab') 產品介紹
      .tab-content
        #specifications.tab-pane.fade.in.active
          h2 材質
          p ABS塑鋼，PC(透明防彈玻璃材質)三層複合式箱殼材料獨一無二本體更耐撞，重擊後不易白化。

          h2 尺寸
          table.table.table-striped
            thead
              tr
                th 吋數
                th 長(cm)
                th 寬(cm)
                th 深(cm)
                th 重量(kg)
                th 適用天數
                th 建議售價
            tbody
              tr
                td 27 吋
                td 65
                td 45
                td 31
                td 5.5
                td 5~7天適用
                td NT 9,600
            tbody
              tr
                td 29 吋
                td 71
                td 51
                td 32
                td 6.1
                td 1-2週適用
                td NT 10,400
          h2.margin-bottom-30 產品特色
          .row.feature.margin-bottom-30
            .col-md-6.feature-img
              img(src='./img/9939/9939_info_1.png')
            .col-md-6.feature-img
              h3 箱殼
              ul
                li 三層複合式材料，表層採防彈玻璃材質，獨家印刷技術設計降低刮傷感，使本體更耐壓、耐撞不易白化。
          .row.feature.margin-bottom-30
            .col-md-6.feature-img
              img(src='./img/9939/9939_info_2.png')
            .col-md-6.feature-img
              h3 TSA 國際海關鎖頭
              ul
                li TSA 鎖頭為美國海關簽約認可之行李箱鎖頭。
                li 進出美國，行李箱可直接上鎖，避免海關安檢時破壞鎖頭造成旅遊不便。
          .row.feature.margin-bottom-30
            .col-md-6.feature-img
              img(src='./img/9939/9939_info_3.png')
            .col-md-6.feature-img
              h3 低噪音超耐用飛機輪
              ul
                li 360 度旋轉自如，行進中接近無聲。
          .row.feature.margin-bottom-30
            .col-md-6.feature-img
              img(src='./img/9939/9939_info_4.png')
            .col-md-6.feature-img
              h3 多段式拉桿
              ul
                li 壓著拉桿手把按鈕處，即可調整高度。

block append js
  script(src='./js/product.js')

