extends layout
block style
  link(rel='stylesheet', href='assets/css/shop.style.css')
  link(rel='stylesheet', href='./style/product.css')
block content
  // === Shop Product ===
  .shop-product
    // Breadcrumbs v5
    .container
      ul.breadcrumb-v5
        li
          a(href='product.html') 產品介紹
        li.active 8828多功能擴充箱
    // End Breadcrumbs v5
    .container
      .row
        .col-md-6
          .case-product
            .image(name='8828', value='1')
            .product-color-text.product-text 蘋果紅
        .col-md-6
          .shop-product-heading
            h2 8828多功能擴充箱
          br
          h3.shop-product-title 顏色
            span.product-color-text 蘋果紅
          ul#color8828.list-inline.product-color.margin-bottom-30
            li(title='蘋果紅')
              input#color-1(type='radio', name='color', value='1', checked='')
              label(for='color-1')
            li(title='青草綠')
              input#color-2(type='radio', name='color', value='2')
              label(for='color-2')
            li(title='芭比粉')
              input#color-3(type='radio', name='color', value='3')
              label(for='color-3')
            li(title='鋼鐵銀')
              input#color-4(type='radio', name='color', value='4')
              label(for='color-4')
            li(title='鑽石黑')
              input#color-5(type='radio', name='color', value='5')
              label(for='color-5')
            li(title='寶石藍')
              input#color-6(type='radio', name='color', value='6')
              label(for='color-6')
          h3.shop-product-title 尺吋
          ul.list-inline.product-size.margin-bottom-30
            li(title='18吋')
              label(for='size-1') 18吋
  // === End Shop Product ===

  .content-md.container
    .tab-v6
      ul.nav.nav-tabs(role='tablist')
        li.active
          a(href='#specifications', role='tab', data-toggle='tab') 產品規格
      .tab-content
        #specifications.tab-pane.fade.in.active
          h2 材質
          p ABS塑鋼，PC(透明防彈玻璃材質)三層複合式箱殼材料獨一無二本體更耐撞，重擊後不易白化。

          h2 尺寸
          table.table.table-striped
            thead
              tr
                th 吋數
                th 長(cm)
                th 寬(cm)
                th 深(cm)
                th 重量(kg)
                th 適用天數
                th 建議售價
            tbody
              tr
                td 18 吋
                td 49
                td 35
                td 25
                td 3.2
                td 1~3天適用
                td $ 5,900
          h2.margin-bottom-30 產品特色
          .row.feature.margin-bottom-30
            .col-md-12.feature-img
              img(src='./img/8828/8828_feature_7.png')
          .row.feature.margin-bottom-30
            .col-md-12.feature-img
              img(src='./img/8828/8828_feature_1.png')
          .row.feature.margin-bottom-30
            .col-md-12.feature-img
              img(src='./img/8828/8828_feature_2.png')
          .row.feature.margin-bottom-30
            .col-md-12.feature-img
              img(src='./img/8828/8828_feature_4.png')
          .row.feature.margin-bottom-30
            .col-md-12.feature-img
                img(src='./img/8828/8828_feature_3.png')
          .row.feature.margin-bottom-30
            .col-md-12.feature-img
                img(src='./img/8828/8828_tsa.png')
block append js
  script(src='./js/product.js')

