extends layout
block style
  link(rel='stylesheet', href='./style/product.css')
block content
  .container.content
    .headline-center-v2.headline-center-v2-dark.margin-bottom-60
      h2 產品介紹
      span.bordered-icon
        img(src='./img/bricon.png')
    .row.margin-bottom-60
      .col-sm-4
        .thumbnails-v1
          .thumbnail-img
            a(href='product_9938.html', title='9938 亮面戰車系列')
              img.img-responsive(src='./img/9938/9938_2.png')
          .caption
            h3
              a(href='product_9938.html') 9938 亮面戰車系列
      .col-sm-4
        .thumbnails-v1
          .thumbnail-img
            a(href='product_9939.html', title='9939 亮面戰車系列')
              img.img-responsive(src='./img/9939/9939_1.png')
          .caption
            h3
              a(href='product_9939.html') 9939 霧面戰車系列
      .col-sm-4
        .thumbnails-v1
          .thumbnail-img
            a(href='product_n9938.html', title='n9938 雙防爆拉鏈登機箱')
              img.img-responsive(src='./img/n9938/n9938_4.png')
          .caption
            h3
              a(href='product_n9938.html') n9938 亮面登機箱系列
    .row.margin-bottom-60
      .col-sm-offset-2.col-sm-4
        .thumbnails-v1
          .thumbnail-img
            a(href='product_9938_24.html', title='9938 亮面戰車系列 24吋')
              img.img-responsive(src='./img/9938_24/9938_1.png')
          .caption
            h3
              a(href='product_9938_24.html') 9938 亮面戰車系列 24吋
      .col-sm-4
        .thumbnails-v1
          .thumbnail-img
            a(href='product_9939_24.html', title='9939 亮面戰車系列 24吋')
              img.img-responsive(src='./img/9939_24/9939_3.png')
          .caption
            h3
              a(href='product_9939_24.html') 9939 霧面戰車系列 24吋

block append js
