@mixin size($w, $h:$w) {
  width: $w;
  height: $h;
}

.shop-product {
  background:#eee url(../img/bg.png) repeat center center;
}

.product-size label {
  width: 80px !important;
  color: #18ba9b !important;
  cursor: pointer;
  border-color: #18ba9b !important;
}
p {
  font-size: 1.4em;
}
.caption {
  h3 {
    text-align: center;
    a {
      font-size: 1em;
    }
  }
}

.breadcrumb-v5 {
  padding: 0;
}

.thumbnails-v1 .thumbnail-img {
  margin: 0px auto;
  img {
    margin: 0px auto;
    max-width: auto;
    height: 400px;
  }
}

.product-color label {
  &[for='color-1'] {
    background: #da63af;
  }
  &[for='color-2'] {
    background: #c7c0bb;
  }
  &[for='color-3'] {
    background: #82ddeb;
  }
  &[for='color-4'] {
    background: #635353;
  }
  &[for='color-5'] {
    background: #554d7e;
  }
  &[for='color-6'] {
    background: #c8dd75;
  }
  &[for='color-7'] {
    background: #3d383f;
  }
}
#color9909 label {
  &[for='color-1'] {
    background: #e4a0b4;
  }
  &[for='color-2'] {
    background: #b2cae2;
  }
  &[for='color-3'] {
    background: #f4ae7d;
  }
  &[for='color-4'] {
    background: #c0c4ce;
  }
  &[for='color-5'] {
    background: #4b4c4e;
  }
}
#color8816 label {
  &[for='color-1'] {
    background: #635353;
  }
  &[for='color-2'] {
    background: #e4a0b4;
  }
  &[for='color-3'] {
    background: #c8dd75;
  }
  &[for='color-4'] {
    background: #554d7e;
  }
  &[for='color-5'] {
    background: #82ddeb;
  }
  &[for='color-6'] {
    background: #c7c0bb;
  }
  &[for='color-7'] {
    background: #3d383f;
  }
}
#color8828 label {
  &[for='color-1'] {
    background: #c4695c;
  }
  &[for='color-2'] {
    background: #c8dd75;
  }
  &[for='color-3'] {
    background: #e4a0b4;
  }
  &[for='color-4'] {
    background: #c7c0bb;
  }
  &[for='color-5'] {
    background: #3d383f;
  }
  &[for='color-6'] {
    background: #554d7e;
  }
}
#color9928 label {
  &[for='color-1'] {
    background: #c8dd75;
  }
  &[for='color-2'] {
    background: #3d383f;
  }
  &[for='color-3'] {
    background: #c4695c;
  }
  &[for='color-4'] {
    background: #554d7e;
  }
  &[for='color-5'] {
    background: #e4a0b4;
  }
  &[for='color-6'] {
    background: #c7c0bb;
  }
}
#color9938 label {
  &[for='color-1'] {
    background: #bb0100;
  }
  &[for='color-2'] {
    background: #0090c5;
  }
  &[for='color-3'] {
    background: #202020;
  }
  &[for='color-4'] {
    background: #1e2f76;
  }
  &[for='color-5'] {
    background: #c7c0bb;
  }
  &[for='color-6'] {
    background: #e4a0b4;
  }
}
#color9939 label {
  &[for='color-1'] {
    background: #e4a0b4;
  }
  &[for='color-2'] {
    background: #202020;
  }
  &[for='color-3'] {
    background: #c7c0bb;
  }
  &[for='color-4'] {
    background: #3c5c99;
  }
  &[for='color-5'] {
    background: #e48a20;
  }
}
#colorn9938 label {
  &[for='color-1'] {
    background: #bb0100;
  }
  &[for='color-2'] {
    background: #202020;
  }
  &[for='color-3'] {
    background: #1e2f76;
  }
  &[for='color-4'] {
    background: #c7c0bb;
  }
  &[for='color-5'] {
    background: #e4a0b4;
  }
  &[for='color-6'] {
    background: #0090c5;
  }
}

#color9938 label {
  &[for='color-1'] {
    background: #bb0100;
  }
  &[for='color-2'] {
    background: #0090c5;
  }
  &[for='color-3'] {
    background: #202020;
  }
  &[for='color-4'] {
    background: #1e2f76;
  }
  &[for='color-5'] {
    background: #c7c0bb;
  }
  &[for='color-6'] {
    background: #e4a0b4;
  }
}

#color9938_24 label {
  &[for='color-1'] {
    background: #bb0100;
  }
  &[for='color-2'] {
    background: #0090c5;
  }
  &[for='color-3'] {
    background: #202020;
  }
  &[for='color-4'] {
    background: #1e2f76;
  }
  &[for='color-5'] {
    background: #c7c0bb;
  }
  &[for='color-6'] {
    background: #e4a0b4;
  }
}
#color9939_24 label {
  &[for='color-1'] {
    background: #e4a0b4;
  }
  &[for='color-2'] {
    background: #202020;
  }
  &[for='color-3'] {
    background: #c7c0bb;
  }
  &[for='color-4'] {
    background: #3c5c99;
  }
  &[for='color-5'] {
    background: #e48a20;
  }
}

.case-product {
  @include size(100%, 455px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
  margin: 0px auto;
  background-color: #e4e4e2;

  .product-color label[for='color-1'] {
    background: rgb(218, 99, 175);
  }
  
  .image {
    @include size(250px, 445px);
    transition: all 0.5s;

    // 9938
    &[name='9938'][value='1'] {
      background: url(../img/9938/9938_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938'][value='2'] {
      background: url(../img/9938/9938_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938'][value='3'] {
      background: url(../img/9938/9938_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938'][value='4'] {
      background: url(../img/9938/9938_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938'][value='5'] {
      background: url(../img/9938/9938_5.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938'][value='6'] {
      background: url(../img/9938/9938_6.png) center center no-repeat;
      background-size: 250px;
    }

    // 9939
    &[name='9939'][value='1'] {
      background: url(../img/9939/9939_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9939'][value='2'] {
      background: url(../img/9939/9939_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9939'][value='3'] {
      background: url(../img/9939/9939_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9939'][value='4'] {
      background: url(../img/9939/9939_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9939'][value='5'] {
      background: url(../img/9939/9939_5.png) center center no-repeat;
      background-size: 250px;
    }

    // n9938
    &[name='n9938'][value='1'] {
      background: url(../img/n9938/n9938_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9938'][value='2'] {
      background: url(../img/n9938/n9938_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9938'][value='3'] {
      background: url(../img/n9938/n9938_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9938'][value='4'] {
      background: url(../img/n9938/n9938_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9938'][value='5'] {
      background: url(../img/n9938/n9938_5.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='n9938'][value='6'] {
      background: url(../img/n9938/n9938_6.png) center center no-repeat;
      background-size: 250px;
    }


    // 9938_24
    &[name='9938_24'][value='1'] {
      background: url(../img/9938_24/9938_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938_24'][value='2'] {
      background: url(../img/9938_24/9938_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938_24'][value='3'] {
      background: url(../img/9938_24/9938_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938_24'][value='4'] {
      background: url(../img/9938_24/9938_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938_24'][value='5'] {
      background: url(../img/9938_24/9938_5.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9938_24'][value='6'] {
      background: url(../img/9938_24/9938_6.png) center center no-repeat;
      background-size: 250px;
    }

    // 9939_24
    &[name='9939_24'][value='1'] {
      background: url(../img/9939_24/9939_1.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9939_24'][value='2'] {
      background: url(../img/9939_24/9939_2.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9939_24'][value='3'] {
      background: url(../img/9939_24/9939_3.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9939_24'][value='4'] {
      background: url(../img/9939_24/9939_4.png) center center no-repeat;
      background-size: 250px;
    }
    &[name='9939_24'][value='5'] {
      background: url(../img/9939_24/9939_5.png) center center no-repeat;
      background-size: 250px;
    }
  }
}

.table-striped {
  th, td {
    font-size: 1.4em;
  }
}

.product-color-text {
  margin-left: 10px;
}
.product-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 2em;
  margin: 5px 10px;
}

.feature {
  .feature-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 250px;
      padding: 16px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }
  }
  .feature-text {
    height: 266px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  p, li {
    font-size: 1.4em;
  }
}
